DEPLOY_ENV=LOCAL

CHAIN_ID=31337 # 31337 for local, 11155111 for Sepolia
LOCAL_ETHEREUM_RPC_URL=http://localhost:8545
# RPC_URL=https://ethereum-sepolia-rpc.publicnode.com/
# TESTNET_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com/

# this key requires funds. used as the admin / deployer of contracts and core contracts.
FUNDED_KEY=0x323ef3a895cad9fcb625aa859953bba2812a64b39f2fd0b857f4757f0e896858

# WASI package namespace - required for non-LOCAL deployments (e.g., wavs for https://wa.dev/wavs)
WASI_NAMESPACE=wavs

# https://app.pinata.cloud/developers/api-keys, JWT token
WAVS_ENV_PINATA_API_URL=
WAVS_ENV_PINATA_API_KEY=

# https://etherscan.io/apidashboard / https://docs.etherscan.io/getting-started/viewing-api-usage-statistics
WAVS_ENV_ETHERSCAN_API_KEY=

# twitterapi.io API TOKEN
WAVS_ENV_TWITTERAPI_TOKEN=
