[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/WAVS"]
	path = lib/WAVS
	url = https://github.com/Lay3rLabs/WAVS
	commit = f888b28b81649669a825a2722b1b64f44e5e43c9
	# tag = v0.3.0-alpha4
