# general compile
/target
out/
cache/
broadcast/
node_modules/

# WAVS
.env
compiled/*.wasm
.docker/*.json
.docker/*.log
wavs:worker*.wit
wavs:worker*.wasm

# WAVS infra
.nodes
infra/*

# Tools
**/.claude/settings.local.json

## Python
venv/
__pycache__/
# TODO: move wavs_py & layer_trigger_world to its own pip package, similar to how it's done in Go
wavs_py
layer_trigger_world/
